* {
    margin: 0 auto;
    margin-left: 6px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* border: 2px solid black; */
}

.listGroup {
    display: inline-block;
    text-align: left;
}
