* {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-family: 'Roboto', sans-serif;
  border: solid black 1px;
}

.container {
  padding: 16px;
  margin: 12px;
  background-color: yellow;
}

.content {
  background-color: aquamarine;
  
  padding: 12px;
  margin-top: 12px;
}

p, ol {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;

  padding: 18px;
  margin: 6px;

  display: block;
  text-align: left;
  background-color: white;
}

h1 {
  padding: 12px;
  text-align: center;
  width: 30%;
  background-color: burlywood;
}
